:root {
    --size: 500px;
    --timer: 7s;
    --border-color-1: linear-gradient(#FFFFFF, #FFFFFF);
    --border-color-2: linear-gradient(#029454, #029454);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background: center / cover no-repeat url("../img/wallpaper.jpg");
    font-size: 16px;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.main-wheel {
    position: relative;
    width: calc(var(--size) * 1.1);
    height: calc(var(--size) * 1.1);
    border-radius: 50%;
    background-image: var(--border-color-2);
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-wheel::after {
    content: '';
    position: absolute;
    width: calc(var(--size) * 1.05);
    height: calc(var(--size) * 1.05);
    border-radius: 50%;
    background-image: var(--border-color-1);
}

.icon-arrow {
    width: 100px;
    position: absolute;
    top: -25px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
    object-fit: cover;
}

.wheel {
    position: relative;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    z-index: 1;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) var(--timer);
    list-style: none;
    overflow: hidden;
}

.spin-btn {
    background-color: #d61c4ecc;
    color: #fff;
    padding: 1rem 2rem;
    margin-top: 2rem;
    font-size: 1.3rem;
    border: none;
    border-radius: 3rem;
    cursor: pointer;
}

li {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 50%;
    transform-origin: 0% 100%;
    overflow: hidden;
}

.text-item {
    position: absolute;
    left: -100%;
    height: 200%;
    width: 200%;
    padding-top: 1.7rem;
    text-align: center;
    display: block;
    color: #fff;
}

.wheel-img {
    position: absolute;
    width: 30%;
    height: 30%;
    z-index: 100;
    overflow: hidden;
}

.msg {
    margin-top: 2rem;
}